/* .card-body{
  padding: 10px;
}

#exampleModalCenter{
    left: auto !important;
    margin-left: auto !important;
    background-color: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* position: relative !important; */
    /* overflow: visible !important;
    transition: opacity 0.15s linear 0s !important;
}
} */ 